* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --granite-gray: hsl(210, 1%, 37%);
  --eerie-black: hsl(240, 2%, 11%);
  --slimy-green: hsl(91, 100%, 30%);
  --fuzzy-wuzzy: hsl(0, 42%, 57%);
  --davys-gray: hsl(220, 2%, 28%);
  --cultured-1: hsl(228, 17%, 94%);
  --cultured-2: hsl(0, 0%, 96%);
  --dim-gray: hsl(240, 1%, 41%);
  --white_80: hsla(0, 0%, 100%, 0.8);
  --white_70: hsla(0, 0%, 100%, 0.7);
  --white_40: hsla(0, 0%, 100%, 0.4);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --black_05: hsla(0, 0%, 0%, 0.05);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_25: hsla(0, 0%, 0%, 0.25);
  --white-2: hsl(0, 0%, 98%);
  --white-1: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --theme-bg: linear-gradient(
    to bottom,
    hsl(var(--hue, 227), 40%, 50%),
    hsl(var(--hue, 227), 40%, 60%)
  );
  --theme-color: hsl(var(--hue, 227), 42%, 57%);
  --ff-roboto: "Roboto", sans-serif;
  --fs-1: 2.6rem;
  --fs-2: 2.2rem;
  --fs-3: 1.8rem;
  --fs-4: 1.4rem;
  --fs-5: 1.2rem;
  --fw-500: 500;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-10: 10px;
  --shadow-1: 0 0 5px hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 0 10px hsla(0, 0%, 0%, 0.05);
  --transition: 0.15s ease;
  --cubic-out: cubic-bezier(0.05, 0.65, 0.25, 1);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(var(--hue, 227), 40%, 50%),
    hsl(var(--hue, 227), 40%, 60%)
  );
  height: 100vh;
}
.container {
  width: 560px;
  background-color: var(--white_10);
  border-radius: var(--radius-10);
  padding: 25px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-title {
  color: var(--white-1);
  margin-block-end: 5px;
}
.header-time {
  color: var(--white-1);
  font-size: var(--fs-8);
}
.h1 {
  font-size: var(--fs-3);
}

.h1,
.h2 {
  font-weight: var(--fw-500);
}

.menu-btn {
  color: var(--white-1);
  font-size: 16px;
  padding: 6px;
  border-radius: var(--radius-5);
}

button {
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
button:hover {
  background-color: var(--white_40);
  z-index: 2;
}
input,
button {
  background: none;
  border: none;
}

.title-wrapper .h2 {
  color: var(--white-1);
  text-align: center;
  font-size: var(--fs-4);
}

.title-wrapper .img {
  width: 90px;
  margin-inline: auto;
  margin-block-end: 10px;
  height: auto;
  display: block;
}

.task-list {
  margin-block: 20px;
  padding-inline-end: 4px;
  height: 390px;
  margin-inline-end: -4px;
  overflow-y: scroll;
}

.task-list::-webkit-scrollbar {
  width: 0 !important;
}

.input-wrapper {
  background-color: var(--white_70);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-4);
  padding: 15px 5px;
  display: flex;
  align-items: center;
}
input {
  width: 100%;
  outline: none;
  font-size: var(--fs-8);
  color: black;
}

.title-wrapper {
  position: absolute;
  z-index: 0;
  top: 200px;
  left: 35%;
}

.task-item:not(:last-child) {
  margin-block-end: 2px;
}
.task-item {
  background-color: var(--cultured-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-radius: var(--radius-4);
}
li {
  list-style: none;
}
.fa-trash-can {
  color: #1d1b1c;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.fa-trash-can:hover {
  color: #e7234a;
}
.fa-plus,
.fa-circle,
.fa-circle-check {
  padding: 0 6px;
  font-size: 20px;
  color: #4a4b51;
}

::placeholder {
  color: #4a4b51;
}

.dropdown-item {
  padding: 15px;
}
.item-title {
  font-size: 16px;
  text-align: center;
}
.dropdown-container {
  width: 200px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  display: none;
  position: absolute;
  left: -170px;
}
.dropdown-container.active {
  display: block;
}
.dropdown-wrapper {
  position: relative;
}
.theme-btn-group {
  margin-top: 15px;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.theme-btn-group div {
  cursor: pointer;
}
#msg {
  color: rgb(203, 0, 0);
  margin-top: 10px;
}
.check {
  text-decoration: line-through;
}
.outline {
  border: 2px solid black;
}
